#ferdigshortcode {
	border-radius: 15px;
	background-color: #ddf;
	width: 95%;
	padding: 10px;
	font-size: 1.4em;
	font-weight: lighter;
}

table.settingstabell {
	border: 3px solid #66f;
	padding: 5px;
	}
