strong {
	font-weight: bold;
	}

.lokalhistorie_skjema {
	width: 98%;
	margin: 20px 0px;
	clear: both;
	}

.lokalhistorie_skjema h2 {
	color: #000;
	width: 100%;
	font-size: 1.6em;
	border-bottom: 3px solid orange;
	margin-bottom: 10px;
	text-align: center;
	}

.lokalhistorieresult {
	padding: 10px 1%;
	background: #eef;
	margin-bottom: 15px;
	width: 98%;
	clear: both;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	}

.lokalhistorieresult a {
	color: #800;
	text-decoration: none;
}

.lokalhistorieresultdescription {
	margin-top: 15px;
	color: #333;
	line-height: 1.2em;
	}

img.lokalhistorieresultcover {
	margin-right: 2%;
	width: 98%;
	}

.leftside {
	float: left;
	display: table-cell;
	}

.rightside {
	float: right;
	display: table-cell;
	}

.resultatheader {
	padding: 2px 5px;
	background: #E1E1E1;
	border-radius: 10px;
	margin: 10px 0;
	color: #333;
	padding: 5px;
	font-size: 1.2em;
	font-weight: 300;
}

.resultatopen { /*class added to contents of 1st demo when they are open*/
	background: yellow;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

td.lokalhisttd {
	vertical-align: top;
	border: none;
}

td.lokalhisttd h3 {
	margin: 0;
	padding: 0;
	line-height: 1.1em;
	font-size: 1.6em;
}

td.lokalhisttd a {
	text-decoration: none;
	}

td.lokalhisttd h4 {
	font-size: 1.1em;
	color: #666;
	font-weight: lighter;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

/* MASONRY (flislagt visning) */

#gridcontainer .grid-item { 
	width: 32%;
	min-width: 200px;
	margin-bottom: 5px;
}

#gridcontainer .grid-item a, a:visited, a:active, a:hover { 
	color: #000;
}

#gridcontainer .grid-item img {
	display: block;
	border-radius: 0px;
	width: 100%;
}

#gridcontainer { display: none; } 

.gridinfotekst {
	position: absolute;
	top: 0px;
	width: 94%;
	height: 100%;
	overflow: auto;
	line-height: 1.1em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 0.9em;
	opacity: 0;
	background-color: #fff;
	padding: 10px 3% 0px 3%;	
}

.gridinfotekst:hover {
	opacity: 0.9;
}

.gridheader {
	margin: 0;
	padding: 5px;
	font-size: 1.2em;
	line-height: 1.1em;
}

.roweven {
	background-color: #eee;
	width: 96%;
	padding: 10px 2%;
	line-height: 1.1em;
}

.rowodd {
	background-color: #ddd;
	width: 96%;
	padding: 10px 2%;
	line-height: 1.1em;
}

.roweven a, .rowodd a {
	text-decoration: none;
}

.oneitem {
	position: relative;
}

.karusellcaption {
    position:absolute; 
 	bottom:0px; 
    left:0px;  
    width:94%;
	padding: 10px 3%;  
    background-color:black; 
	line-height: 1em; 
    font-size:1.2em;  
    color:white;  
    opacity:0.6; 
    filter:alpha(opacity=60);
}

.karusellcaption h2 {
	margin: 0;
	padding: 0;
	line-height: 1em;
}
