.lokalhistorieresult {
/*
	border: 1px solid #999;
	margin-bottom: 10px;
	box-shadow: 3px 3px 1px #ccc;
	padding: 10px 1%;
	float: left;
	width: 46%;
	margin-right: 1%;
	height: 100px;
	line-height: 1em;
	background: transparent;
*/
	border: none;
	margin-bottom: 10px;
	padding: 0;
	width: 100%;
	}

b#finnlokalhistorie_search-string {
	color: #800;
	}

a.lokalhistorieresultlink {
	text-decoration: none;
	line-height: 1em;
	}

.lokalhistorieresultdescription {
	color: #999;
	}

img.lokalhistorieresultcover {
	float: left;
	margin-right: 5px;
	max-height: 150px;
	max-width: 150px;
	}

.lokalhistorie_skjema {
	width: 100%;
	margin: 20px 0px;
	}

.lokalhistorie_skjema h1 {
	color: #000;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 3px solid orange;
	text-align: center;
	font-weight: lighter;
	}

/*
.lokalhistorie_skjema input[type=text] {
	font-weight: bold;
	font-size: 1.2em;
	background-color: #ccc;
	width: 80%;
	margin-left: 8%;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 1% 2%;
	}
*/

.lokalhistorie_skjema input[type=text] {
	font-size: 1.1em;
	background-color: #ccc;
	margin: 0;
	border: 1px solid #333;
	border-radius: 5px;
	}

.lokalhistorie_skjema input[type="submit"] {
	background-image: url(../g/search.png);
	background-position:  0px 0px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	border: 0px;
	background-color: none;
	outline: 0;	
	}

.lokalhistorie_skjema input[type="submit"]:hover {
	background-image: url(../g/search.png);
	background-position:  0px 0px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	border: 0px;
	background-color: none;
	outline: 0;	
	opacity: 0.5;
	}



.lokalhistorie_sjekkbokser {
	margin-left: 8%;
	float: left;
	}

img.webloftlogo {
	float: right;
	box-shadow: none;
	border: none;
	max-width: 50px;
	height: auto;
	margin-right: 8%;
	}

h4#lokalhistorieresults-text {
	margin: 0;
	line-height: 30px;
	}

/* Accordion - Brukes ikke  

#acc {width:100%; list-style:none; color:#033; margin:0 auto 10px}
#acc h3 {width: 100%; border:1px solid #9ac1c9; padding:6px 6px 8px; font-weight:bold; margin: 10px 0; cursor:pointer;}
#acc h3:hover {border: 1px solid #000;}
#acc .acc-section {overflow:hidden; background:#fff}
#acc .acc-content {width:100%; padding:0; border:1px solid #9ac1c9; border-top:none; background:#fff; border: none;}
#acc li {margin: 0;}

*/

/* ######### CSS for Shade Tabs. Remove if not using ######### */

.lokalhistorieshadetabs{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
list-style-type: none;
text-align: center; /*set to left, center, or right to align the menu as desired*/
}

.lokalhistorieshadetabs li{
display: inline;
margin: 0;
}

.lokalhistorieshadetabs li a{
text-decoration: none;
position: relative;
z-index: 1;
padding: 3px 7px;
margin-right: 3px;
}

.lokalhistorieshadetabs li a:visited{
color: #2d2b2b;
}

.lokalhistorieshadetabs li a:hover{
text-decoration: underline;
color: #2d2b2b;
}

.lokalhistorieshadetabs li a.selected{ /*selected main tab style */
position: relative;
top: 1px;
}

.lokalhistorieshadetabs li a.selected{ /*selected main tab style */
background-color: #eee;
}

.lokalhistorieshadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.lokalhistorietabcontent{
display:none;
}

@media print {
.lokalhistorietabcontent {
display:block !important;
}
}
